/* adjustment */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'open_sansregular', arial, helvetica;
  line-height: 1.42;
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  */

.btn {
  display: inline-block;
  color: #fff;
  font-size: 0.875rem;
  padding: 15px 45px;
  background: #ffb64d;
  /* semibold */
}

/*  */

.header {
  background: url('../img/header_bg.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 80px;
}

.header__up {
  text-align: center;
  background: #4d4d4d;
  padding: 20px 15px;
  color: #fff;
  font-size: 1.25rem;
  font-family: 'open_sansbold';
}

.nav {
  margin-top: 25px;
  position: relative;
}

.nav__inner {
  display: flex;
}

.logo {
  color: #fff;
  font-size: 1.563rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-transform: uppercase;
}

.logo::before {
  content: "";
  background: url('../img/icon_beam.png') no-repeat;
  width: 15px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  margin-right: 5px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 100%;
}

.nav__item {
  flex-grow: 1;
}

.nav__link {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link_active {
  font-family: 'open_sansbold';
}

.nav__mobile {
  display: none;
}

.nav__mobile_open {
  display: block;
}

.nav__mobile .nav__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: #4d4d4d;
  z-index: 2;
  top: 100%;
  margin-top: 20px;
}

.btn-open {
  width: 31px;
	height: 19px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	border-bottom: 0;
	top: 50px;
	right: 100px;
	z-index: 9999;
	border-bottom: 0;
  display: none;
}

.btn-open span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.btn-open span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}

.btn-open span:nth-child(2) {
	top: 10px;
	transform-origin: left center;
}

.btn-open span:nth-child(3) {
	top: 20px;
	transform-origin: left center;
}

.btn-open.open span:nth-child(1) {
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}

.btn-open.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.btn-open.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 19px;
	left: 8px;
}

.header__box {
  background: #fff;
  padding: 30px 20% 30px 40px;
  width: 80%;
  max-width: 970px;
  margin: 80px auto 0 auto;
  position: relative;
}

.header__title {
  font-size: 1.688rem;
  font-family: 'open_sansbold';
  margin-bottom: 20px;
}

.header__text {
  margin-bottom: 20px;
}

.header__img-decor {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(45%, 30%);
  width: 235px;
  height: 162px;
}

.header__img-decor img {
  width: 100%;
  height: 100%;
}

.header__img-decor::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 50px;
  background: url('../img/sliver_toolkit.png');
  -webkit-background-size: cover;
  background-size: cover;
  bottom: 10px;
  left: 50%;
}

/* SECTIONS */

.product {
  background: #fff;
  padding: 60px 0;
}

.section__heading {
  font-size: 1.688rem;
  font-family: 'open_sansbold';
  text-align: center;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  width: 22%;
  margin: 50px 5.5% 0 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e9e9e9;
  margin-bottom: 20px;
}

.product__name {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product__description {
  text-align: center;
}

.feedback {
  padding: 70px 0;
  background: url('../img/feedback_bg.png') no-repeat;
  background-size: cover;
}

.feedback__box {
  width: 100%;
  max-width: 900px;
  background: #56534f;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__heading {
  color: #fff;
  font-family: 'open_sansbold';
  font-size: 1.688rem;
  margin-bottom: 15px;
  text-align: center;
}

.feedback__description {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.125rem;
  text-align: center;
}

.ui-form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.063rem;
}

.ui-input {
  color: #56534f;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: none;
}

.btn-form {
  font-family: 'open_sansbold';
  color: #fff;
  background: #ffb64d;
  padding: 15px 0;
  border: none;
}

.materials {
  background: url('../img/materials_bg.png') no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}

.materials .section__heading {
  color: #fff;
}

.materials:after {
  content: "";
  display: block;
  position: absolute;
  background: url('../img/trunk.png') no-repeat;
  background-size: cover;
  width: 278px;
  height: 287px;
  bottom: -30px;
  right: 0;
}

.materials .tabbed-pane {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 920px;
}

.materials .tabbed-pane__tabs {
  display: flex;
}

.materials .tabbed-pane__tab {
  color: #fff;
  flex-grow: 1;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1.5s;
}

.materials .tabbed-pane__tab_active {
  border-bottom: 2px solid #fff;
}

.materials .tabbed-pane__tab:hover {
  cursor: pointer;
}

.materials .tabbed-pane__panels {
  color: #fff;
}

.materials .tabbed-pane__panel {
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.materials .tabbed-pane__title {
  font-size: 1.563rem;
  font-family: 'open_sansbold';
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.materials .tabbed-pane__title::before {
  content: "";
  display: inline-block;
  background: url('../img/wood_icon.png') no-repeat;
  background-size: cover;
  width: 16px;
  height: 24px;
  margin-right: 5px;
}

.materials .tabbed-pane__panel_active {
  padding: 50px 0;
  height: auto;
  visibility: visible;
  opacity: 1;
}

.materials .accordion {
  display: none;
  margin-top: 10px;
}

.materials .accordion__item {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.materials .accordion__title {
  text-align: center;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.materials .accordion__title::before {
  content: "";
  display: inline-block;
  background: url(../img/wood_icon.png) no-repeat;
  background-size: cover;
  width: 16px;
  height: 24px;
  margin-right: 5px;
}

.materials .accordion__item_active .accordion__content {
  height: auto;
  visibility: visible;
  opacity: 1;
  padding: 15px 0;
}

.materials .accordion__content {
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.instruction {
  padding: 60px 0 0 0;
  background: #fff;
}

.instruction__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.instruction__item {
  flex-basis: 25%;
  display: flex;
  margin: 0 4% 60px 4%;
}

.instruction__img {
  margin-right: 20px;
}

.gallery {
  background: #56534f;
  padding: 60px 0;
}

.gallery .tabbed-pane {
  display: flex;
}

.gallery .tabbed-pane__tabs {
  flex-basis: 25%;
}

.gallery .tabbed-pane__tab {
  padding: 15px;
  transition: background 1.5s;
}

.gallery .tabbed-pane__tab:hover {
  cursor: pointer;
}

.gallery .tabbed-pane__tab_active {
  background: #fff;
}

.gallery .tabbed-pane__panels {
  flex-basis: 75%;
}

.gallery .tabbed-pane__panel {
  display: flex;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: opacity 1.5s;
}

.gallery .tabbed-pane__panel_active {
  /* display: flex; */
  opacity: 1;
  visibility: visible;
  height: auto;
  padding: 30px;
}

.gallery .tabbed-pane__img {
  flex-grow: 1;
  margin: 0 15px;
}

.gallery .tabbed-pane__img img {
  width: 100%;
  height: 100%;
}

.gallery .accordion {
  display: none;
  margin-top: 10px;
}

.gallery .accordion__item {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.gallery .accordion__title {
  text-align: center;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .accordion__item_active .accordion__title {
  background: #fff;
  color: #000;
}

.gallery .accordion__item_active .accordion__content {
  height: auto;
  visibility: visible;
  opacity: 1;
  padding: 15px 0;
}

.gallery .accordion__content {
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.gallery .accordion__content img {
  width: 100%;
}

.guarantee {
  padding: 45px 0;
  background: url('../img/guarantee_bg.png') no-repeat;
  background-size: cover;
}

.guarantee__text {
  font-size: 1.563rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guarantee__text::before {
  content: "";
  display: inline-block;
  background: url('../img/quality_icon.png') no-repeat;
  background-size: cover;
  min-width: 32px;
  height: 32px;
  margin-right: 10px;
}

.contact {
  background: #56534f;
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.contact__text {
  font-size: 1.688rem;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'open_sansbold';
}

.contact__map {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

/* END SECTIONS */
