@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .materials:after {
    width: 200px;
    height: 207px;
  }
}

@media screen and (max-width: 992px) {
  .header__box {
    width: 90%;
  }

  .header__img-decor {
    width: 170px;
    height: 130px;
    transform: translate(15%, 30%);
  }

  .product__item {
    width: 26%;
    margin: 50px 3.6% 0 3.7%;
  }

  .materials:after {
    width: 150px;
    height: 156px;
  }

  .instruction__item {
    flex-basis: 28%;
    margin: 0 2.6% 60px 2.6%;
  }

  .gallery .tabbed-pane__img:nth-child(3) {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
  }

  .contact .container {
    width: auto;
  }

  .contact .contact__map {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {

  .nav__list {
    display: none;
  }

  .btn-open {
    display: block;
  }

  .nav__inner {
    align-items: center;
    justify-content: space-between;
  }

  .header__box {
    padding: 30px 10% 30px 40px;
  }

  .product__item {
    width: 40%;
    margin: 50px 5% 0 5%;
  }

  .materials:after {
    display: none;
  }

  .instruction__item {
    flex-basis: 40%;
    margin: 0 5% 60px 5%;
    align-items: center;
  }

  .gallery .tabbed-pane__tabs {
    flex-basis: 40%;
  }

  .gallery .tabbed-pane__panels {
    flex-basis: 60%;
  }

  .gallery .tabbed-pane__img:nth-child(2) {
    display: none;
  }

  .guarantee__text {
    padding: 0 15px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .header__box {
    padding: 30px 15px 30px 15px;
    width: 100%;
    text-align: center;
  }

  .header__img-decor {
    display: none;
  }

  .product__item {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .materials .accordion {
    display: block;
  }

  .materials .tabbed-pane {
    display: none;
  }

  .instruction__item {
    flex-basis: 100%;
    margin: 0 0 60px 0;
  }

  .gallery .accordion {
    display: block;
  }

  .gallery .tabbed-pane {
    display: none;
  }
}
