@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 1200px) {
  .materials:after {
    width: 200px;
    height: 207px;
  }
}

@media screen and (max-width: 992px) {
  .header__box {
    width: 90%;
  }

  .product__item {
    width: 26%;
    margin: 50px 3.6% 0 3.7%;
  }

  .materials:after {
    width: 150px;
    height: 156px;
  }

  .instruction__item {
    width: 28%;
    margin: 0 4.1% 60px 4.1%;
  }

  .gallery .tabbed-pane__img:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
